<div class='rounded-full shadow-sm px-4 py-2 <%=  answer.correct ? '' : 'bg-red-100' %> flex gap-2'>
    <%= image_tag (answer.correct) ? 'right.svg' : 'wrong.svg', class: "w-8 inline-block" %>
    <div class='inline-block'>
        <%= answer.question.title %><br>
        <%= answer.question.correct_answer %>
        <% if !answer.correct %>
            <span class='ml-2 line-through text-red-700'>(<%= answer.title %>)</span>
        <% end %>
    </div>
</div>